.container {
    background-color: rgb(225, 245, 238);
    border : 2px solid rgb(108, 138, 127);
    border-radius: 5px;
    margin-bottom: 10px
}
.second {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.firstImg {
    margin-top: 10px;
}
.secondImg {
    margin-bottom: 10px;
    
}
